<p>
    <mat-toolbar>
        <button mat-icon-button class="icon" aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Sales Portal</span>
        <span class="spacer"></span>
        <button mat-icon-button class="icon cart-icon" aria-label="icon-button with heart icon">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button mat-icon-button class="icon" aria-label="icon-button with share icon">
            <mat-icon>supervisor_account</mat-icon>
        </button>
    </mat-toolbar>
</p>
<app-products></app-products>

<app-footer></app-footer>